* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 570;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;


}

.navbar a:hover {
    color: rgb(255, 0, 234);
}

.home {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color: #020316; 
    background-size: 100% auto;
    background-position:center;
    align-items: top;
    padding: 10% 10px 0;


}

.home-content {
   margin-left: 50px;

}

.home-content h3 {
    font-size: 34px;
    font-weight:6800px;
    
}

.home-content p {
    font-size: 20px;
}

.home-content p span {
    color: rgb(255, 0, 234);
}

.home-content p:nth-of-type(1) {
    margin-bottom: 5px;

}

.home-content p:nth-of-type(2) {
    margin-bottom: 5px;
    font-size: medium;

}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(255, 0, 234);
    border-radius: 50%;
    text-decoration: none;
    margin: 30px 15px 30px 0px;

}

.home-sci a:hover {
    background: rgb(255, 0, 234);
    color: white;
    box-shadow: 0 0 20px rgb(255, 179, 245);
}

.btn-bx {
    display: inline-block;
    padding: 12px 25px;
    background: rgb(255, 0, 234);
    border-radius: 25px;
    color: #ededed;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 570;

}

.btn-bx:hover {
    box-shadow: 0 0 5px rgb(255, 179, 245),
        0 0 25px rgb(255, 179, 245), 0 0 500px rgb(255, 179, 245),
        0 0 20px rgb(255, 179, 245), 0 0 500px rgb(255, 179, 245);
}

@media only screen and (max-width: 800px) {
    .logo{
        
        /* I want to hide the logo from view on smaller screens */
        display: none;
    }
    .home-content {
      margin: 20px;
      
    }
    
    .home-content h3 {
      margin: 20px;
      font-size: 20px;
      padding-top: 10%;
    }
    
    .home-content p {
      font-size: 18px;
    }
    .navbar{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        align-items: center;
    
       
    }

    .navbar a {
        margin: 0px 0px 0px 15px;
    }
   

   
    
    .btn-bx {
      padding: 10px 20px;
      font-size: 16px;
    }
}